In [1]:
import json
import pandas as pd
import numpy as np

from IPython.display import display

In [2]:
# some useful code to deal with the crap data from Cornell Uni

def read_cornell(path, *, header=None, engine='python', sep=r' \+\+\+\$\+\+\+ ', **kwargs):
    "load from a very non-standard CSV file"
    return pd.read_csv(path, header=header, engine=engine, sep=sep, **kwargs)

def loads_almost_json(s):
    "json.loads when you've been given a json object with invalid quotes, pretty fragile!"
    return json.loads(s.replace("'", '"'))

In [3]:
mov_movies = read_cornell(
    'data/cornell_movie_dialogs_corpus/movie_titles_metadata.txt',
    names=['movie', 'title', 'year', 'imdb_rating', 'imdb_votes', 'genres'],
    index_col=0)

mov_movies.genres = mov_movies.genres.apply(loads_almost_json)

mov_movies.head(12)

,title,year,imdb_rating,imdb_votes,genres
movie,,,,,
m0,10 things i hate about you,1999,6.9,62847,"[comedy, romance]"
m1,1492: conquest of paradise,1992,6.2,10421,"[adventure, biography, drama, history]"
m2,15 minutes,2001,6.1,25854,"[action, crime, drama, thriller]"
m3,2001: a space odyssey,1968,8.4,163227,"[adventure, mystery, sci-fi]"
m4,48 hrs.,1982,6.9,22289,"[action, comedy, crime, drama, thriller]"
m5,the fifth element,1997,7.5,133756,"[action, adventure, romance, sci-fi, thriller]"
m6,8mm,1999,6.3,48212,"[crime, mystery, thriller]"
m7,a nightmare on elm street 4: the dream master,1988,5.2,13590,"[fantasy, horror, thriller]"
m8,a nightmare on elm street: the dream child,1989,4.7,11092,"[fantasy, horror, thriller]"
m9,the atomic submarine,1959,4.9,513,"[sci-fi, thriller]"
m10,affliction,1997,6.9,7252,"[drama, mystery, thriller]"
m11,air force one,1997,6.3,61978,"[action, drama, thriller]"

In [4]:
mov_conv = read_cornell(
    'data/cornell_movie_dialogs_corpus/movie_conversations.txt',
    names=['char1', 'char2', 'movie', 'lines'])

mov_conv.lines = mov_conv.lines.apply(loads_almost_json)

mov_conv.head(12)

   char1 char2 movie                           lines
0     u0    u2    m0        [L194, L195, L196, L197]
1     u0    u2    m0                    [L198, L199]
2     u0    u2    m0        [L200, L201, L202, L203]
3     u0    u2    m0              [L204, L205, L206]
4     u0    u2    m0                    [L207, L208]
5     u0    u2    m0  [L271, L272, L273, L274, L275]
6     u0    u2    m0                    [L276, L277]
7     u0    u2    m0                    [L280, L281]
8     u0    u2    m0                    [L363, L364]
9     u0    u2    m0                    [L365, L366]
10    u0    u2    m0                    [L367, L368]
11    u0    u2    m0              [L401, L402, L403]

In [5]:
mov_lines = read_cornell(
    'data/cornell_movie_dialogs_corpus/movie_lines.txt',
    names=['line', 'char', 'movie', 'char_name', 'text'],
    index_col=0)

mov_lines.head(12)

      char movie char_name                                               text
line
L1045   u0    m0    BIANCA                                       They do not!
L1044   u2    m0   CAMERON                                        They do to!
L985    u0    m0    BIANCA                                         I hope so.
L984    u2    m0   CAMERON                                          She okay?
L925    u0    m0    BIANCA                                          Let's go.
L924    u2    m0   CAMERON                                                Wow
L872    u0    m0    BIANCA     Okay -- you're gonna need to learn how to lie.
L871    u2    m0   CAMERON                                                 No
L870    u0    m0    BIANCA  I'm kidding.  You know how sometimes you just ...
L869    u0    m0    BIANCA                   Like my fear of wearing pastels?
L868    u2    m0   CAMERON                                    The "real you".
L867    u0    m0    BIANCA                                   What good stuff?

In [6]:
len(np.where(mov_conv.lines.apply(len) > 6)[0])

8437

In [7]:
idx = 21278

display(mov_conv.iloc[[idx],:])
display(mov_movies.loc[[mov_conv.movie[idx]]])
display(mov_lines.loc[mov_conv.lines[idx]])

       char1  char2 movie                                              lines
21278  u2312  u2320  m149  [L419814, L419815, L419816, L419817, L419818, ...

           title  year  imdb_rating  imdb_votes             genres
movie
m149   ninotchka  1939          7.9        6951  [comedy, romance]

,char,movie,char_name,text
line,,,,
L419814,u2320,m149,SWANA,"Leon, darling, how nice! Have you ordered tea ..."
L419815,u2312,m149,LEON,"No thanks, Swana."
L419816,u2320,m149,SWANA,Did I act stupidly last night? Should I apolog...
L419817,u2312,m149,LEON,I'm the one who should apologize. I should hav...
L419818,u2320,m149,SWANA,"Is this, by any chance, going to be a confession?"
L419819,u2312,m149,LEON,Yes.
L419820,u2320,m149,SWANA,"Oh, no, my little Volga boatman. Have you forg..."
L419821,u2312,m149,LEON,"This time, Swana -- just this once -- I must a..."
L419822,u2320,m149,SWANA,"All right, I'll listen."
L419823,u2312,m149,LEON,I know you hate the obvious but do you mind if...
L419824,u2320,m149,SWANA,"Brutal frankness, if you insist."
L419825,u2312,m149,LEON,"There are a hundred ways to approach it, but I..."
L419826,u2320,m149,SWANA,And I thought it was something serious! How co...
L419827,u2312,m149,LEON,"It must be serious, Swana. Not long ago I'd ha..."
L419828,u2320,m149,SWANA,"Say it over and over again, Leon. Words are a ..."
L419829,u2312,m149,LEON,"I have to be simple again, Swana, and you may ..."
L419830,u2320,m149,SWANA,Leon! This has the ugly sound of regeneration.
L419831,u2312,m149,LEON,I'm afraid that's what it is.
L419832,u2320,m149,SWANA,"The same old trouble, Leon. You're always late..."
L419833,u2312,m149,LEON,"What is this, Swana?"
L419834,u2320,m149,SWANA,Knowing the efficiency of the French Air Servi...
L419835,u2312,m149,LEON,Has done what?
L419836,u2320,m149,SWANA,"She's gone, Leon."
L419837,u2312,m149,LEON,Do you expect me to believe that?